
$blue-base:        rgba(0,86,168,1);
$blue-darker:      rgba(0,86,168,0.9); 
$blue-dark:        rgba(0,86,168,0.7);   
$blue:             rgba(0,86,168,0.5); 
$blue-light:       rgba(0,86,168,0.3); 
$blue-lighter:     rgba(0,86,168,0.1); 

$header-zindex: 40;
$content-zindex: 30;
$footer-zindex: 10;
$sup-zindex: 40 !important;

