<!DOCTYPE HTML>
<!--
	Epilogue by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Epilogue by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="inner">
					<h1>Marguerite KOHLER</h1>
					<p>Méthode de lecture pour débutant</a></p>
				</div>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Banner -->
					<section id="intro" class="main">
						<!-- <span class="icon fa-diamond major"></span> -->
						<span class="icon fa-graduation-cap major"></span>
						<h2>Habiletés préparatoires à la lecture et contexte</h2>
						<p>En France, l'apprentissage de la lecture commence à l'âge de la scolarité obligatoire, aux alentours de six ans. Il commence à sept ans dans le système éducatif finlandais mais plus tôt dans de nombreux pays anglophones.</p>
						<ul class="actions">
							<li><a href="#" class="button big">Learn More</a></li>
						</ul>
					</section>

				<!-- Items -->
					<section class="main items">
						<article class="item">
							<header>
								<a href="#"><img src="../images/wood-cube-473703_1920.jpg" alt="" /></a>
								<h3>Méthode syllabique</h3>
							</header>
							<p>On oppose habituellement deux types de méthodes d'apprentissage de la lecture : l'une va de l'élément simple, la lettre, vers le texte (méthodes synthétiques, dites également syllabiques ou alphabétiques), l'autre va du texte vers la lettre.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="../images/school-926213_960_720.jpg" alt="" /></a>
								<h3>Méthode idéo-visuelle</h3>
							</header>
							<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="../images/alphabet-1015947_960_720.jpg" alt="" /></a>
								<h3>Méthode globale</h3>
							</header>
							<p>La lecture se fait par la reconnaissance d'un mot en entier, et non par le code de l'écrit (c’est-à-dire sans apprentissage du code des correspondances entre sons et signes écrits). Ce type de méthode est utilisé pour apprendre à lire des langues comme le chinois.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="../images/6EfZT336f62EI5U2.jpg" alt="" /></a>
								<h3>Méthode mixte</h3>
							</header>
							<p>La méthode mixte, appelée également « méthode semi-globale », tente de combiner les avantages de la méthode syllabique et de la méthode globale, les mots appris par l'analytique étant utilisés pour découvrir les syllabes et sonorités.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
					</section>

				<!-- CTA -->
					<section id="cta" class="main special">
						<h2>Méthode naturelle</h2>
						<p>PLa méthode mixte invite à une reconnaissance visuelle globale des mots, en s’appuyant très souvent sur un court texte illustré. En s’aidant de l’illustration, l'élève est appelé à mémoriser le profil graphique des mots écrits, voire des phrases, dont le maître lui indique la prononciation.</p>
						<ul class="actions">
							<li><a href="#" class="button big">Get Started</a></li>
						</ul>
					</section>

				<!-- Main -->
				<!--
					<section id="main" class="main">
						<header>
							<h2>Lorem ipsum dolor</h2>
						</header>
						<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
					</section>
				-->

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>